<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Đơn ứng tuyển của bạn vào vị trí <%= @job.position %> của công ty <%= @job.company_name %> đã được thực hiện thành công !
    </p>
    <p>
      Ngay khi công ty phản hồi, chúng tôi sẽ ngay lập tức thông báo cho bạn.
    </p>
    <p>
      Cảm ơn sự quan tâm của bạn!
      Thân ái.
    </p>
  </body>
</html>