<%= render "layouts/header" %>

<%= render "form", candidate: @candidate %>

<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>