<div class="form-group space-bound"">
  <label class="control-label"><%= Company Name %></label>
  <input type="text" class="form-control" placeholder="Company name">
</div>

<div class="form-group">
  <label class="control-label">Title</label>
  <input type="text" class="form-control" placeholder="e.g UI/UX Researcher">
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label class="control-label">Date Form</label>
      <input type="text" class="form-control" placeholder="e.g 2014">
    </div>
    <div class="col-md-6">
      <label class="control-label">Date To</label>
      <input type="text" class="form-control" placeholder="e.g 2020">
    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label">Description</label>
</div>

<section id="editor" style="margin-bottom: 30px;">
  <div id="summernote">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quia aut modi fugit, ratione saepe perferendis odio optio repellat dolorum voluptas excepturi possimus similique veritatis nobis. Provident cupiditate delectus, optio?</p>
  </div>
</section>

<div class="add-post-btn">
  <div class="float-left">
    <a href="#" class="btn-added"><i class="ti-plus"></i> Add this experience</a>
  </div>
  <div class="float-right">
    <a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
  </div>
</div>
