.space_bound {
    margin-top: 20px;
}

.material-center {
    vertical-align: middle;
}

.logo-image {
    width: 100px;
    height: 100px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 19px;
    float: right;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked+.slider {
    background-color: #444;
}

input.primary:checked+.slider {
    background-color: #2196F3;
}

input.success:checked+.slider {
    background-color: #8bc34a;
}

input.info:checked+.slider {
    background-color: #3de0f5;
}

input.warning:checked+.slider {
    background-color: #FFC107;
}

input.danger:checked+.slider {
    background-color: #f44336;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.benefit-section {
    margin-top: 0px;
    margin-bottom: 0px !important;
    font-size: medium;
}

.apply-button {
    background: #26ae61;
    padding: 12px 30px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}

.green-icon {
    color: #26ae61;
}

.img-about-section {
    width: 100px;
    height: 70px;
}

.btn-bookmark {
    margin-left: 10px;
}

.job-icon {
    width: 40px;
    height: 40px;
}

.modal-center {
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.btn-oubo {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    padding: 18px 50px 18px;
    transition: all 0.7s ease-out;
    background-image: linear-gradient(to right, #6db5e6 0%, #927be6 51%, #5ebfff 100%);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.5rem;
    border: none;
    border: 1px solid rgba(223, 190, 106, 0.3);
}

.btn-oubo:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: right center;
}

.container2 {
    height: 100%;
    align-content: center;
}

.image_outer_container {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container {
    border-radius: 50%;
    padding: 3px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.image_inner_container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.image_outer_container .green_icon {
    background-color: #4cd137;
    position: absolute;
    right: 30px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: 5px solid white;
    border-radius: 50%;
}

.card_ava {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 400px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: 0.5s;
}

.card_ava:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .2);
}

.card_ava .box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
}

.card_ava .box .img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.card_ava .box .img img {
    width: 100%;
    height: 100%;
}

.card_ava .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}

.card_ava .box h2 span {
    font-size: 14px;
    background: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}

.card_ava .box p {
    color: #262626;
}

.card_ava .box span {
    display: inline-flex;
}

.card_ava .box ul {
    margin: 0;
    padding: 0;
}

.card_ava .box ul li {
    list-style: none;
    float: left;
}

.card_ava .box ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

.card_ava .box ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}

.logo-small-icon {
    max-width: 50px;
    max-height: 45px;
}