<section id="download" class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-xs-12">
        <div class="download-wrapper">
          <div>
            <div class="download-text">
              <h4>Download Our Best Apps</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et metus effici turac fringilla lorem facilisis, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="app-button">
              <a href="#" class="btn btn-border"><i class="lni-MizTech"></i>Download <br>
                <span>From MizTech Store</span></a>
              <a href="#" class="btn btn-common btn-effect"><i class="lni-android"></i> Download <br>
                <span>From Play Store</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-xs-12">
        <div class="download-thumb">
          <%= image_tag("app.png") %>
        </div>
      </div>
    </div>
  </div>
</section>
