<section class="how-it-works section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">How It Works?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>
         metus effici turac fringilla lorem facilisis.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="work-process">
          <span class="process-icon">
            <i class="lni-user"></i>
          </span>
          <h4>Create an Account</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="work-process step-2">
          <span class="process-icon">
            <i class="lni-search"></i>
          </span>
          <h4>Search Jobs</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="work-process step-3">
          <span class="process-icon">
            <i class="lni-cup"></i>
          </span>
          <h4>Apply</h4>
          <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
        </div>
      </div>
    </div>
  </div>
</section>